@import "materialize-css/dist/css/materialize.min.css" ;

body {
  margin: 0;
  padding: 0;
  background-color: rgb(217, 226, 233);
}

span, .time {
  color: rgb(117, 142, 158);
}

.todo {
  margin-bottom: 1.5rem;
}

.todo.status span {
  text-decoration: line-through;
}

.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: rgb(202, 211, 217);
  padding: 1rem;
}

.todo i {
  z-index: 5;
}

.none {
  display: none;
}

label {
  width: 80%;
}

img {
  width: 2%;
}

.buttons {
  justify-content: space-between;
  display: flex;

}

button {
  width: 50%;
  margin: 2px;
  background-color: rgb(202, 211, 217);
  color: black; 
  padding: 10px 20px;
  border: none;
  font-size: 16px; 
  cursor: pointer; 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

button:hover {
  transform: translateY(-2px); 
}

button:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.hidden {
  visibility: hidden; 
}

.visible {
  visibility: visible;
}

.input-field input{
  position: relative;
  z-index: 100;
}